#############################################
# RMIT University Vietnam
# Course: COSC2767|COSC2805 Systems Deployment and Operations
# Semester: 2025B
# Assessment: Assignment 2
# Author: Bui Viet Anh
# ID: s3988393
# Created  date: 14/09/2025
# Last modified: 18/09/2025
# Acknowledgement: None
#############################################

apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{ namespace }}
data:
  API_URL: "/api"
  CLIENT_URL: "http://frontend-svc.{{ namespace }}.svc.cluster.local"
